<div id="post-form" data-post='<%= @post.to_json %>' data-assignments='<%= @assignments.to_json %>' data-categories='<%= @categories.to_json %>'>
</div>

<script type="text/template" id="assignments-choice-template">
<h6>Assignment</h6>
<select class="assignments-select">
<option value="">Select an Assignment</option>
</select>

<div class="assignment-brief">
  {{brief}}
</div>
</script>

<script type="text/template" id="categories-choice-template">
<h6>Category <a href="#" class="glyphicons remove"><i></i></a></h6>
</script>

<script type="text/template" id="category-template">
  {{name}}
</script>

<script type="text/template" id="post-form-template">
  <div class="col-12">
  <h1 class="page-title">
  {{#if id }}
    Edit Post
  {{else}}
    New Post
  {{/if}}
  </h1>
  </div>

<div class='col-9'>
  <h3>
    <input type="text" class="post-title" name="post[title]" placeholder="Title of Post..." value="{{ title }}"/>
  </h3>

  <div class="categories-choice section">
  </div>

  <div class="assignments-choice section">
  </div>

  <div class="section">
    <h6>Content <span class="markdown-mark">&nbsp;</span></h6>
    <div class="expanding-area" style="background:#eee;">
      <pre><span></span><br></pre>
      <textarea id="post-content-form" placeholder="Write your post here..." name="post[content]" style="border-color: #eee;border-bottom: none;">{{content}}</textarea>
    </div>
    <div class="info">
      <h6>Formatting</h6>
      <p>Posts are formatted using Markdown. Click the icon to the right of "Content" up above to view a Markdown cheatsheet.</p>

      <h6>Adding Images</h6>
      <p>To add an image, drag and drop the image inside the textbox. To embed videos, paste the embed code from whatever site you uploaded your video to.</p>
    </div>
  </div>

  <div id="post-submit" class="section action-buttons">
    <h6>Publish</h6>

    <div class="publish-section">
      <div data-privacy="false" class="button privacy {{#unless is_public}}selected{{/unless}}">NYU</div>
      <div data-privacy="true" class="button privacy {{#if is_public}}selected{{/if}}">WORLD</div>

      <div class="button publish-button make-draft">Draft</div>
      <div class="button publish-button make-publish">Publish</div>
    </div>
  </div>
</div>
</script>

<script src="/javascripts/post-form.js"></script>