<div class="col-3">
  <%= erb :'students/sidebar', layout: false, locals: {user: @user} %>
</div>

<div class="col-4">
  <div class="section">
  <h3>Comments by</h3>
  <% @comments_by.each do |comment| %>
  <%= erb :'comment-feed', layout: false, locals: {comment: comment} %>
  <% end %>
  </div>
</div>

<div class="col-5">
  <h3>Comments To</h3>
  <% @comments_to.each do |comment| %>
  <%= erb :'comment-feed', layout: false, locals: {comment: comment} %>
  <% end %>
  </div>
</div>