<form id="progress-new" action="/progress/save" method="POST">
  <ul id="progress-category">
    <li>Research</li>
    <li>Design</li>
    <li>Production</li>
  </ul>
  <input type="hidden" name="category"/>

  <h3>
    <input type="text" name="title" placeholder="Title of Post..."/>
  </h3>

  <div class="expanding-area">
  <pre><span></span><br></pre>
  <textarea placeholder="Write your post here..." name="content"></textarea>
  </div>

  <button id="private">Private</button>
  <button id="public">Public</button>

  <input type="submit" name="publish" value="Publish"/>
</form>