<div class="col-9">

<div class="post single">
  <h2><%= @post.title %></h2>

  <hgroup class='details'>
    <span class="published"><%= @post.draft ? "Draft" : "Published" %></span>
    <span class="category"><%= @post.category %></span>
  </hgroup>

  <div class="post-content">
    <%= mdown @post.content %>
  </div>
</div>

</div>