<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Lato:400,700|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <style>
    html {
      font-family: 'Source Sans Pro';
      margin: 2em 3em;
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }

    .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
      text-align: left;
      font-family: 'league gothic';
      font-weight: normal;
    }

    img {
      max-height: 40em;
      max-width: 100%;
    }
    </style>
</head>
<body>
<%= yield %>
</body>
</html>