/* FORMATTING CLASSES________________________________________________________*/
.gray {
  color: #999;
}

/* THESIS____________________________________________________________________*/
.elevator-pitch {
  font-size: 130%;
  font-style: italic;
  line-height: 1.7em;
  margin: 1em 0;
}

/* LOGIN_____________________________________________________________________*/
#login-form {
  background-color: #ffe87a;
  padding: 1.4em;
}

#login-form input {
  display: inline-block;
  margin-right: 0.5em;
}

/* FORMS_____________________________________________________________________*/

input[type=text],
input[type=password] {
  display: block;
  font: inherit;
  padding: 10px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"],
.button-labels label,
.button-labels a {
  background-color: #bbb;
  color: #fff;
  font: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0.25em;
  padding: 0.45em 1em;
  vertical-align: baseline;
}

input[type="submit"]:hover,
button:hover {
  border-color: #777;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  position: relative;
}

.action-buttons {
  clear: both;
  display: block;
  margin: 1.5em 0;
}

/* BUTTON LABELS_____________________________________________________________*/
.button-labels { /* container div */
  margin: 0.75em 0;
}

/* hide radio or checkbox buttons, show only the labels. */
.button-labels input {
  display: none;
}

.button-labels label,
.button-labels a {
  background-color: rgb(121,121,121);
  display: block;
  float: left;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.714285714em;
  margin: 0 0.428571428em 0.428571428em 0;
  padding: 0.214285714em 0.428571428em;
}

.button-labels a {
  text-decoration: none;
}

.button-labels label:hover,
.button-labels a:hover {
  background-color: rgb(65, 159, 255);
}

input[checked] + label,
label.checked,
.button-labels a.checked {
  background-color: rgb(40, 140, 240);
}

input[checked] + label:hover,
label.checked:hover,
.button-labels a.checked:hover {
  background-color: rgb(40, 140, 255);
}

/* Colors for action-buttons */
input[type="submit"].submit {
  background-color: rgb(130, 186, 208);
}
/* END FORMS_________________________________________________________________*/

/* SECTION_ASSIGN____________________________________________________________*/
.section-assign {
  margin-bottom: 1.5em;
}

.section-assign input[type="text"] {
  font-size: 87.5%;
  line-height: 1.714285714em; /* 24 / 14 */
  padding: 0;
  border: 0;
  /*outline: 1px solid #ccc;*/
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.4) inset;
}

.other-assignment {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
  padding: 0.6em 0;
  margin: 0 0 0.7em ;
}

/* printed-tags are li elements styled to improve glanceability on the printed
page */
ul.printed-tags {
  clear: both;
  overflow: auto;
}

ul.printed-tags li {
  display: inline;
  float: left;
  font-size: 20px;
  line-height: 1.2em; /* 24 / 20 */
  letter-spacing: 0.05em;
  padding: 0 1.2em 1.2em 0;
  /*text-align: center;*/
  /*width: 30%;*/
}


/* POST FORM_________________________________________________________________*/
#progress-form input[type="text"]:focus,
#progress-form textarea:focus,
.form textarea:focus,
.form input[type="text"]:focus,
#ui-datepicker-div {
  border: 1px solid #1f45f7;
  outline: 1px solid #1f45f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"][checked=true] + label{
  color: red;
}

.meta-form-elements {
  /*border: 1px solid #ddd;*/
  margin-bottom: 1.5em;
  width: 600px;
}

/* END POST FORM_____________________________________________________________*/

.meta-link,
.meta {
  font-size: 0.875em;
  color: #666464;
  font-style: normal;
  font-weight: 100;
  /*line-height: 1.8488095147269112em;*/
}

.meta .private {
  color: #fd6969;
  font-weight: 600;
  text-transform: uppercase;
}

p.intro {
  margin-bottom: 1.0416666666666667em;
  line-height: 2.0833333333333335em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: source-sans-pro;
}