h1 a {
  color: #000000;
  text-decoration: none;
}

h1 a:hover {

}

h2.page-title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 1.4em;
}

.section-assign h4 {
  border-bottom: .125em solid #aaa; /* 2 / 24 */
  font-size: 100%;
  line-height: 1.375em;
  margin: 0;
}


/* FORMATTING CLASSES________________________________________________________*/
.float-right {
  float: right;
}

.gray {
  color: #999;
}

/* HEADER____________________________________________________________________*/

#header img {
  width: 150px;
}

#header img, #main-nav {
  float: left;
}

#header ul {
  list-style-type: none;
}

#header ul li {
  display: block;
  float: left;
  height: 2.65em;
  line-height: 1.5em;
  padding: 0.65em 0.25em 0.5em;
}

#main-nav ul {
  float: left;
  margin: 0 1em;
}

#account-nav {
  float: right;
  font-size: 90%;
}

#header a {
  color: black;
  text-decoration: none;
}

/* END HEADER________________________________________________________________*/

/* FOOTER____________________________________________________________________*/
#footer {
  font-size: 80%;
  margin-bottom: 2em;
  margin-top: 2em;
}
/* END FOOTER________________________________________________________________*/

/* FORMATTING________________________________________________________________*/
.smaller {
  font-size: 16.526px;
}

.smallest {
  font-size: 11.125px;
}

/* THESIS____________________________________________________________________*/
.elevator-pitch {
  font-size: 130%;
  font-style: italic;
  line-height: 1.7em;
  margin: 1em 0;
}

/* LOGIN_____________________________________________________________________*/
#login-form {
  background-color: #ffe87a;
  padding: 1.4em;
}

#login-form input {
  display: inline-block;
  margin-right: 0.5em;
}

/* FORMS_____________________________________________________________________*/



input[type=text],
input[type=password] {
  display: block;
  font: inherit;
  padding: 10px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"],
.button-labels label,
.button-labels a {
  background-color: #bbb;
  color: #fff;
  font: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0.25em;
  padding: 0.45em 1em;
  vertical-align: baseline;
}

input[type="submit"]:hover,
button:hover {
  border-color: #777;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  position: relative;
}

.action-buttons {
  clear: both;
  display: block;
  margin: 1.5em 0;
}

/* BUTTON LABELS_____________________________________________________________*/
.button-labels { /* container div */
  margin: 0.75em 0;
}

/* hide radio or checkbox buttons, show only the labels. */
.button-labels input {
  display: none;
}

.button-labels label,
.button-labels a {
  background-color: rgb(121,121,121);
  display: block;
  float: left;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.714285714em;
  margin: 0 0.428571428em 0.428571428em 0;
  padding: 0.214285714em 0.428571428em;
}

.button-labels a {
  text-decoration: none;
}

.button-labels label:hover,
.button-labels a:hover {
  background-color: rgb(65, 159, 255);
}

input[checked] + label,
label.checked,
.button-labels a.checked {
  background-color: rgb(40, 140, 240);
}

input[checked] + label:hover,
label.checked:hover,
.button-labels a.checked:hover {
  background-color: rgb(40, 140, 255);
}

/* Colors for action-buttons */
input[type="submit"].submit {
  background-color: rgb(130, 186, 208);
}
/* END FORMS_________________________________________________________________*/

/* EXPANDING AREA____________________________________________________________*/
.expanding-area {
  position: relative;
  min-height: 300px;
  margin-bottom: 1.5em;
}

.expanding-area pre {
  font: inherit;
  padding: 10px;
  outline: 0;
  line-height: 1.6em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expanding-area.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.expanding-area > pre {
  display: none;
}

.expanding-area.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

/* END EXPANDING AREA________________________________________________________*/

/* SECTION_ASSIGN____________________________________________________________*/
.section-assign {
  margin-bottom: 1.5em;
}

.section-assign input[type="text"] {
  font-size: 87.5%;
  line-height: 1.714285714em; /* 24 / 14 */
  padding: 0;
  border: 0;
  /*outline: 1px solid #ccc;*/
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.4) inset;
}

.other-assignment {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
  padding: 0.6em 0;
  margin: 0 0 0.7em ;
}

/* printed-tags are li elements styled to improve glanceability on the printed
page */
ul.printed-tags {
  clear: both;
  overflow: auto;
}

ul.printed-tags li {
  display: inline;
  float: left;
  font-size: 20px;
  line-height: 1.2em; /* 24 / 20 */
  letter-spacing: 0.05em;
  padding: 0 1.2em 1.2em 0;
  /*text-align: center;*/
  /*width: 30%;*/
}

/* QUICK POST */
.quick-post .expanding-area {
  min-height: 6em;
  margin-bottom: 0;
}