/* FORMS_____________________________________________________________________*/

input[type=text],
input[type=password] {
  display: block;
  font: inherit;
  padding: 10px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"],
.button-labels label,
.button-labels a {
  background-color: #bbb;
  color: #fff;
  font: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0.25em;
  padding: 0.45em 1em;
  vertical-align: baseline;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  position: relative;
}

.action-buttons {
  clear: both;
  display: block;
  margin: 1.5em 0;
}

/* Colors for action-buttons */
input[type="submit"].submit {
  background-color: rgb(130, 186, 208);
}
/* END FORMS_________________________________________________________________*/

/* SECTION_ASSIGN____________________________________________________________*/
.section-assign {
  margin-bottom: 1.5em;
}

.section-assign input[type="text"] {
  font-size: 87.5%;
  line-height: 1.714285714em; /* 24 / 14 */
  padding: 0;
  border: 0;
  /*outline: 1px solid #ccc;*/
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.4) inset;
}

.other-assignment {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
  padding: 0.6em 0;
  margin: 0 0 0.7em ;
}

/* printed-tags are li elements styled to improve glanceability on the printed
page */
ul.printed-tags {
  clear: both;
  overflow: auto;
}

ul.printed-tags li {
  display: inline;
  float: left;
  font-size: 20px;
  line-height: 1.2em; /* 24 / 20 */
  letter-spacing: 0.05em;
  padding: 0 1.2em 1.2em 0;
  /*text-align: center;*/
  /*width: 30%;*/
}

/* POST FORM_________________________________________________________________*/
#progress-form input[type="text"]:focus,
#progress-form textarea:focus,
.form textarea:focus,
.form input[type="text"]:focus,
#ui-datepicker-div {
  border: 1px solid #1f45f7;
  outline: 1px solid #1f45f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"][checked=true] + label{
  color: red;
}

.meta-form-elements {
  /*border: 1px solid #ddd;*/
  margin-bottom: 1.5em;
  width: 600px;
}

/* END POST FORM_____________________________________________________________*/