/* POST FORM_________________________________________________________________*/
#progress-form input[type="text"]:focus,
#progress-form textarea:focus,
.form textarea:focus,
.form input[type="text"]:focus,
#ui-datepicker-div {
  border: 1px solid #1f45f7;
  outline: 1px solid #1f45f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"][checked=true] + label{
  color: red;
}

.meta-form-elements {
  /*border: 1px solid #ddd;*/
  margin-bottom: 1.5em;
  width: 600px;
}

/* END POST FORM_____________________________________________________________*/

.meta-link,
.meta {
  font-size: 0.875em;
  color: #666464;
  font-style: normal;
  font-weight: 100;
  /*line-height: 1.8488095147269112em;*/
}

.meta {
  margin-bottom: 25px;
  letter-spacing: 0.07142857142857142em;
  font-family: 'source code pro';

}

.meta .private {
  color: #fd6969;
  font-weight: 600;
  text-transform: uppercase;
}

p.intro {
  margin-bottom: 1.0416666666666667em;
  line-height: 2.0833333333333335em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: source-sans-pro;
}

/* POSTS_____________________________________________________________________*/
.post {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.post-content>h2 {
  font-size: 30px;
}

h2 a {
  color: #000;
  text-decoration: none;
}

.private-post h2 a {
  color: red;
}

#middle h1, #middle h2, #middle h3, #middle h4, #middle h5, #middle h6,
#middle p, #middle pre,
.skinny {
  /*max-width: 600px;*/
}

#main-content p {
  max-width: 100%;
}