/* POST FORM_________________________________________________________________*/
#progress-form {
  width: 600px;
}

#progress-category {
  list-style: none;
}

#progress-category li {
  display: inline-block;
}

#progress-form input[type="text"] {
  border: none;
  display: block;
  font: inherit;
  padding: 10px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.expanding-area{
  position: relative;
  min-height: 300px;
}

.expanding-area textarea,
.expanding-area pre {
  font: inherit;
  margin: 0;
  padding: 10px;
  outline: 0;
  border: 0;
  line-height: 1.6em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expanding-area textarea {
  width: 100%;
  height: 100%;
}

.expanding-area.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.expanding-area > pre {
  display: none;
}

.expanding-area.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

#progress-form input[type="text"],
#progress-form textarea {
  border-left: 4px solid transparent;
}

#progress-form input[type="text"]:focus,
#progress-form textarea:focus {
  border-left: 4px solid #1f45f7;
  outline: 0px none transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#progress-form input[type="radio"] {
  display: none;
}

.publish button {
  display: inline-block;
}

input[type="radio"][checked=true] + label{
  color: red;
}

/* END POST FORM_____________________________________________________________*/

.meta {
  margin-bottom: 25px;
  font-size: 0.875em;
  letter-spacing: 0.07142857142857142em;
  color: #666464;
  font-family: 'source code pro';
  font-style: normal;
  font-weight: 100;
  line-height: 1.8488095147269112em;
}

.meta .private {
  color: #fd6969;
  font-weight: 600;
  text-transform: uppercase;
}

p.intro {
  margin-bottom: 1.0416666666666667em;
  line-height: 2.0833333333333335em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: source-sans-pro;
}

/* POSTS_____________________________________________________________________*/
.post {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.post-content>h2 {
  font-size: 30px;
}

h2 a {
  color: #000;
  text-decoration: none;
}

.private-post h2 a {
  color: red;
}

#middle h1, #middle h2, #middle h3, #middle h4, #middle h5, #middle h6,
#middle p, #middle pre {
  width: 600px;
}