#post-form textarea {
  margin-bottom: 0;
}

#post-form .info {
  background-color: #eee;
  font-size: 0.75em; /* 12 / 16 */
  padding: 1em 1em;
}

.toggle-button {
  background-color: rgb(121,121,121);
  color: #fff;
  display: block;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.714285714em;
  margin: 0 0.428571428em 0.428571428em 0;
  padding: 0.214285714em 0.428571428em;
  vertical-align: baseline;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button.selected {
  background-color: rgb(65, 159, 255);
}

.submit-button {

}