.section-listing {
  display: none;
  list-style: none;
  margin: 0.15em 2px 0.5em 0;
  border-left: 3px solid #c0e0ff;
}

.student-listing {
  background: #fefef0;
  border-bottom: 1px solid #f7f7c5;
  border-top: 1px solid #fff;
}

.student-listing.complete {
  background: #f0fef0;
}

.section-heading {
  font-weight: bold;
  padding: 0.05em 0 0.05em 0.25em;
}

.section-heading:hover,
.section-heading:active {
  cursor: pointer;
  background: #c0e0ff;
}

.student-heading {
  padding: 0.15em 0 0.15em 0.5em;
}

.student-heading:hover,
.student-heading:active {
  background-color: #ffffc6;
  outline: 1px solid #f7e354;
  cursor: pointer;
}

.student-name {
  font-weight: bold;
}

.thesis-title {
}

#section-scroll {
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#review-section h5 {
  line-height: 1em;
  padding: 0.25em 0 0.25em;
}

#review-section h5.changed {
  border-left-color: purple;
}

#review-section h5.pending {
  border-left-color: yellow;
}

#review-section h5.synced {
  border-left-color: green;
}

#review-section .button {
  background-color: rgb(121,121,121);
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1em;
  margin: 0 0.428571428em 0.428571428em 0;
  padding: 0.5em 0.75em;
  vertical-align: baseline;
  background-color: rgb(76, 194, 60);
}

#review-section .button .glyphicons {
  display: inline-block;
  padding: 0 0.25em 0 0;
}

#review-section .button:hover {
  cursor: pointer;
  background-color: rgb(76, 194, 60);
}

#review-section .button .glyphicons i:before {
  color: rgb(56, 134, 70);
  position: relative;
  top: 0.15em;
  line-height: 1em;
}

#review-section.changed .button {
  background-color: #777;
}

@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

#review-section.pending .button {
  color: #777;
  background: url('/images/stripe.png');
  background-position: 0px 0px;
  background-repeat: repeat;
  -webkit-animation: animatedBackground 10s linear infinite;
}

#review-section.changed .button .glyphicons i:before {
  color: #ccc;
}

#review-section.synced .button .glyphicons i:before {
  color: rgb(56, 134, 70);
}

#review-section.pending .button .glyphicons i:before {
  color: yellow;