.section {
  clear: both;
}

.section,
.section-list {
  margin: 0 0 1.5em 0;
}

.section-advisor {
  font-weight: bold;
}

.section-list h3 a {
  color: rgb(53, 130, 245);
}

.section-list ul {
  list-style-type: none;
  margin: 0 0 1.5em;
}

.student-link {
  color: #000;
}