/*

777 - alt link color
bbb - official gray text color

*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  position: relative;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

html, body, div, span, p, blockquote, pre, a, code, em, img, ol, ul, li, fieldset, form, label, article, aside, canvas, footer, header, hgroup, nav, section, audio, video {
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, div figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative;
}

/*****************************************************************************
 *
 * DECLARE ALL FONTS HERE, AND NOWHERE ELSE
 *
 *****************************************************************************/

html {
  font-family: "Source Sans Pro","Helvetica", sans-serif;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'source code pro';
}

/*****************************************************************************
 *
 * NATIVE HTML ELEMENTS, LISTED ALPHABETICALLY
 *
 *****************************************************************************/

a {
  color: rgb(53, 130, 245);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 245);
  text-decoration: underline;
}

blockquote {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 26px;
  line-height: 50px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-indent: 16px;
}

button {
  background-color: rgb(53, 130, 245);
  border: .0625em solid rgb(53, 130, 245); /* 1 / 16 */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.375em;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
}

button[disabled] {
  background: #efefef;
}

code {
  color: #555;
  font-size: 70%;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.5em;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%; /* 16px */
  line-height: 1.5em; /* 24px */
}

h1 {
  font-size: 1.75em; /* 28px */
  line-height: 1.714285714em; /* 48 / 28 */
}

h2 {
  font-size: 2.25em; /* 36px */
  line-height: 1.333333333em; /* (24*3) / 36 */
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}

h3 {
  font-size: 1.75em; /* 28px */
  line-height: 1.714285714em; /* 48 / 28 */
  margin: 0;
}

h4 {
  font-size: 1.5em; /* 24px */
  line-height: 1em;
  margin: 1em 0 1em;
}

h5 {
  font-size: 1.25em; /* 20px */
  font-weight: normal;
  line-height: 2.4em; /* 48 / 20 */
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875em; /* 14 / 16 */
  margin-top: 0;
  line-height: 2.571428571em;
}

/*
  NEW HEADERS
*/

h2 {
  font-size: 1em;
  line-height: 3em;
}

h3 {
  font-size: 1.125em; /* 18 / 16 */
  line-height: 2em; /* 36 / 18 */
  padding-top: 0.666666667em; /* 12 / 18 */
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: rgb(53, 130, 245);
}

p {
  line-height: 1.5em;
  margin: 0;
}

pre {
  overflow-x: scroll;
}

ul {
  list-style: disc;
}

ul, ol {
  margin-left: 1.5em;
}

input, textarea {
  border: .0625em solid #aaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font: inherit;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  padding: 0.6875em 0.28em 0.6875em;
}

strong, b {
  font-weight: bold;
}

textarea {
  font: inherit;
  outline: 0;
  line-height: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

input:focus, textarea:focus {
  border-color: rgb(53, 130, 245);
  outline: none;
  box-shadow: 0 0 5px rgba(235,235,0,0.9);
}

input[type=submit]:hover,
button:hover {
  border-color: #eee;
  cursor: pointer;
}

/*****************************************************************************
 *
 * SKELETON
 *
 * The site is in 3 sections each which are 100% wide and clear both.
 * #top, #middle, #bottom
 *
 *
 *****************************************************************************/

#top, #middle, #bottom {
  min-width: 960px;
}

#top {
  background-color: #efefef;
}

#middle {
  min-height: 400px;
  padding-top: 0.75em;
}

#header {
  padding: 0.5em 0;
}

#header, #middle, #footer {
  clear: both;
  max-width: 63.75rem;
  margin: 0 auto;
}

#middle {
  overflow-y: auto;
}

#main-content {
  width: 100%;
}

#bottom {
  margin-top: 3em;
}

#footer {
  border-top: 1px solid #ddd;
  font-size: 80%;
  padding: 1em 0 2em;
}

/*****************************************************************************
 *
 * FLASH MESSAGES
 *
 *****************************************************************************/

#flash > div {
  line-height: 1.5em;
  text-align: center;
  padding: 0.5em 0.35em;
  margin: -.5em auto .75em;
}

.message-success {
  background-color: rgba(68, 202, 71, 0.54);
  border: 1.5px solid rgba(68, 202, 71, 1);
}

.message-error {
  background-color: rgba(202, 68, 71, 0.54);
  border: 1.5px solid rgba(202, 68, 71, 1);
}

/*****************************************************************************
 *
 * TOP
 *
 *****************************************************************************/

#header a {
  color: black;
}

#header a:hover {
  color: rgb(53, 130, 245);
}

#logo {
  height: 1.5em;
  float: left;
  margin-right: 0.75em;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

#header ul li {
  display: inline;
  float: left;
  font-size: .875em;
  line-height: 1.714285714em;
  padding: 0 0.75em;
  margin: 0;
  border-right: 1px solid rgba(210, 210, 210,0.9);
  border-left: 1px solid rgba(255,255,255,0.8);
}

#header ul li:first-child {
  border-left: none;
}

#header ul li:last-child {
  border-right: none;
  margin-right: 0;
}

#account-nav {
  text-align: right;
}

#new-post-link {
  display: inline-block;
  background: url('/images/compose.svg');
  background-size: 0.875em 0.875em;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.3em;
  height: 1.6em;
}

#logout-link {
  display: inline-block;
  background-image: url('/images/logout.svg');
  background-size: 0.875em 0.875em;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.3em;
  height: 1.6em;
}

#new-post-link:hover,
#logout-link:hover {
  text-decoration: none;
}

h1.page-title {
  margin-top: 0;
  line-height: 1.5em;
  font-size: 1em;
}

h1.page-title a {
  color: #000;
}

/*****************************************************************************
 *
 * MARKDOWN GUIDE
 *
 *****************************************************************************/

.markdown-mark {
  background: url('/images/markdown-mark.svg') no-repeat;
  background-position-y: center;
  background-size: 100%;
  width: 48px;
  min-height: 30px;
}

span.markdown-mark {
  cursor: pointer;
  display: inline-block;
  margin-left: 1em;
}

div.markdown-mark {
  float: left;
  margin: 0 0.5em 0.5em 0;
  height: 48px;
  width: 76.8px;
}

#markdown-wrapper {
  background: rgba(255,255,255,0.9);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#markdown-guide {
  background: #fff;
  border: .3em solid #ddd;
  position: relative;
  margin: 1em auto 0;
  padding: 1.2em;
  width: 40em;
}

#markdown-guide p {
  margin-top: 0;
}

#markdown-guide table {
  font-size: .875em; /* 14 / 16 */
  margin: 0 auto;
  width: 100%;
}

#markdown-guide thead {
  font-weight: bold;
  text-transform: uppercase;
}

#markdown-guide table h1,
#markdown-guide table h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#markdown-guide td {
  border-collapse: collapse;
  border-bottom: .071428571em solid #ddd;
  line-height: 1.25em;
  padding: 0.25em 1em;
}

#markdown-guide thead td {
  border-bottom: .142857143em solid #ddd;
  line-height: 1.357142857em;
}

/*****************************************************************************
 *
 * LOGIN
 *
 *****************************************************************************/

#login-form {
  background-color: #ffe87a;
  padding: 1.4em;
}

#login-form input {
  display: inline-block;
  margin-right: 0.5em;
}

/*****************************************************************************
 *
 * STUDENT SIDEBAR
 *
 *****************************************************************************/

.student-sidebar h1 {

}

.student-sidebar ul {
  margin: 0 0 1.5em;
  list-style-type: none;
}

/*****************************************************************************
 *
 * PROGRESS POST & ANNOUNCEMENT
 *
 *****************************************************************************/

.post,
.announcement {
  border-bottom: 0.0625em solid #ddd;
  padding: 0 0 1.4375em;
  margin: 3em 0 3em;
}

.post.single,
.announcement.single,
.post:first-child,
.announcement:first-child {
  margin-top: 0;
}

.announcement hgroup h1,
.post hgroup h1,
.assignment hgroup h1 {
  margin: 1em 0 0;
}

.post.single hgroup h1,
.announcement.single hgroup h1,
.assignment.single hgroup h1 {
  margin-top: 0em;
}

.post hgroup h2,
.announcement hgroup h2,
.assignment hgroup h2 {
  margin: 0;
  line-height: 1.5em;
}

.post hgroup h2 a {
  color: rgb(53, 130, 245);
}

.post hgroup h3,
.announcement hgroup h3,
.assignment hgroup h3 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.post hgroup h4,
.announcement hgroup h4,
.assignment hgroup h4 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

.post h4.category a {
  color: rgb(53, 130, 245);
}

.category-list {
  list-style-type: none;
  margin: 0;
}

.category-list li {
  display: inline-block;
  margin: 0 1em 0 0;
}

.category-list li a {
  color: #bbb;
}

.category-list li a.current {
  color: #000;
}

.post-content {
  margin-top: 1.5em;
}

.post-content h1 {
  font-size: 1.625em; /* 26 / 16 */
  text-transform: uppercase;
  line-height: 1.846153846em; /* 48 / 26 */
  margin: 0;
}

.post-content h2 {
  font-size: 1.5em; /* 24 / 16 */
  line-height: 2em;
  margin: 1em 0 0;
}

.post-content h3 {
  font-size: 1.375em; /* 22 / 16 */
  line-height: 2.181818182em; /* 24 / 22 * 2 */
  margin: 1.090909091em 0 0;
  padding: 0;
}

.post-content h4 {
  color: #7a46bf;
  font-size: 1.25em; /* 20 / 16 */
  font-weight: bold;
  line-height: 2.4em;
  margin: 1.2em 0 0;
}

.post-content h5 {
  font-size: 1.125em; /* 18 / 16 */
  font-weight: bold;
  line-height: 2.666666666em;
  margin-top: 1.333333333em;
}

.post-content h6 {
  font-weight: bold;
  margin: 1.5em 0 0;
  padding: 0;
  line-height: 3em;
}

.post-content ul {
  margin: 0 0 1.5em 1.25em;
}

.post-content p,
.announcement-content p {
  margin: 0 0 1.5em 0;
}

.post img,
.post-content img {
  max-width: 100%;
}

.announcement h3 em {
  color: #777;
  text-transform: lowercase;
}

.post a,
.announcement a {
  margin: 1.5em 0;
}

.post-read-status {
  background: #fefde0;
  padding: .75em 0.75em;
  line-height: 1.5em;
}

.permalink {
  color: #bbb;
  font-size: 0.875em;
  line-height: 1.714285714em;
}


/*****************************************************************************
 *
 * ASSIGNMENT
 *
 *****************************************************************************/

.assignment.single {
  border-bottom: 1px solid #ddd;
  margin: 0 0 1.5em;
  padding: 0 0 1.5em;
}

.assignment.single hgroup {
  margin: 1.5em 0;
}

.draft-icon {
  background-image: url('/images/draft-edit.svg');
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  float: left;
  width: 1em;
  height: 2.5em;
  margin: 0 0.75em;
}

/*****************************************************************************
 *
 * EXCERPTS and DASHBOARD VIEWS
 *
 *****************************************************************************/

.excerpt {
  border-bottom: .0625em solid #ddd; /* 1 / 24 */
  padding: 0.75em 0 0.6875em 0;
  /*margin: 0 0 0.75em 0;*/
  /*font-size: 0.875em;*/
  /*line-height: 1.714285714em;*/
}

.excerpt .content {
  font-size: .9em;
}

.excerpt .content * {
  font-size: 1em;
}

.excerpt h1, .excerpt h2, .excerpt h3, .excerpt h4, .excerpt h5, .excerpt h6,
.excerpt p {
  margin: 0.75em 0;
  line-height: 1.5em;
}

.title {
  font-weight: bold;
}

.feed-item {
  border-bottom: .071428571em solid #ddd; /* 1 / 14 */
  font-size: 0.875em; /* 14 / 16 */
  line-height: 1.142857143em; /* 16 / 14 */
  padding: 1.107142857em 0 1.107142857em;
}

.feed-item.with-icon {
  padding-left: 2.8em;
}


.assignment-list {
  border-bottom: .071428571em solid #ddd; /* 1 / 14 */
  font-size: 0.875em; /* 14 / 16 */
  line-height: 1.142857143em; /* 16 / 14 */
  padding: 0 0 1.107142857em;
  margin-bottom: 1.107142857em;
}

.assignment-list h3,
.post-excerpt h3.title {
  font-size: 1.142857143em; /* 16 / 14 */
  font-weight: normal;
  line-height: 3em;
}

.assignment-list .reply-link {
  display: block;
  line-height: 3.428571428em;
}

.post-excerpt {
  border-bottom: .0625em solid #ddd; /* 1 / 16 */
  margin: 1.5em 0 0.75em;
  padding-bottom: .6875em;
}

.post-excerpt h3.title {
  line-height: 1.5em;
}

.post-excerpt h4.author {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

.post-excerpt h4.author a {
  color: rgb(53, 130, 245);
}

.post-excerpt h5.category {
  color: #bbb;
  font-size: 0.875em;
}

.post-excerpt .content {
  margin: 0.75em 0;
}

/*****************************************************************************
 *
 * EXPANDING AREA
 *
 *****************************************************************************/

.expanding-area {
  position: relative;
  min-height: 120px;
  margin-bottom: 1.5em;
}

.expanding-area pre {
  font: inherit;
  padding: 10px;
  outline: 0;
  line-height: 1.6em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expanding-area.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.expanding-area > pre {
  display: none;
}

.expanding-area.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

.quick-post .expanding-area {
  min-height: 6em;
  margin-bottom: 0;
}

/*****************************************************************************
 *
 * PAGE CONTENT
 *
 *****************************************************************************/

.page-content p {
  margin: 1.5em 0;
}


/*****************************************************************************
 *
 * COMMENTS
 *
 *****************************************************************************/

.comment {
  margin: 0.75em 0 3em;
}

.comment-head {
  background: #f4f4f4;
  line-height: 3em;
  padding: 0em 0.5em;
}

.comment-body {
  margin: 0 0.75em;

}

.new-comment {
  border-bottom: 1px solid #ddd;
  margin: 0 0 1.5em;
  padding: 0 0 0.75em;
}

.comment-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 3.357142857em;
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0.8em;
}

.comment-icon.ctext {
  background-image: url('/images/comment-text.svg');
}

.comment-icon.cread {
  background-image: url('/images/comment-read.svg');
}

/*****************************************************************************
 *
 * FEEDBACK
 *
 *****************************************************************************/

.feedback {
}

.feedback-form {
  background-color: #ddd;
  padding: 1em 0.75em 1em;
}

.feedback-form button.thumb-up,
.feedback-form button.thumb-down {
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position-y: center;
  background-position-x: .5em;
  padding-left: 2.25em;
}

.feedback-form button.thumb-up {
  background-image: url('/images/thumb_up_white.svg');
}

.feedback-form button.thumb-down {
  background-image: url('/images/thumb_down_white.svg');
}

.feedback-item {
  border: 1px solid #eee;
  margin: 1.5em 0;
  padding: 0.75em 0.75em 0.75em 3.75em;
}

.feedback-item.thumbs-up {
  background: url('/images/thumb_up.svg') no-repeat 0.75em center ;
  background-color: #e0ffe0;
}

.feedback-item.thumbs-down {
  background: url('/images/thumb_down.svg') no-repeat 0.75em center ;
  background-color: #ffe0e0;
}

.feedback-item .author {
  font-weight: bold;
}

.feedback-item .delete-button {
  position: absolute;
  right: 0.5em;
  top: 0.75em;
}

.feedback-item .delete-button button {
  border-color: #bbb;
  border-width: 1px;
  background-color: #fff;
  color: rgb(213, 50, 50);
}

.feedback-item .delete-button button:hover {
  border-color: rgb(213, 50, 50);
}

span.thumbs-up,
span.thumbs-down {
  font-size: 0.95em;
  background-repeat: no-repeat;
  background-position: .1em center;
  background-size: 0.75em;
  display: none;
  padding: 0 0.2em 0 1em;
}

span.thumbs-up {
  /*border: 1px solid rgba(16, 190, 16,.7);*/
  color: rgb(16, 190, 16);
  background-image: url('/images/thumb_up.svg');
}

span.thumbs-down {
  /*border: 1px solid rgba(214, 19, 19,.7);*/
  color: rgb(214, 19, 19);
  background-image: url('/images/thumb_down.svg');
}

/*****************************************************************************
 *
 * STUDENT SUMMARY
 *
 *****************************************************************************/

.student-summary {
  margin-bottom: 3em;
}

.student-summary h4 {
  margin: 0;
  line-height: 2em;
}

.student-summary .quick-links {
  font-size: 0.875em; /* 14 / 16 */
  line-height: 1.714285714em; /* 24 / 14 */
}

.student-summary .quick-links {
  list-style-type: none;
  margin: 0;
}

.student-summary .quick-links li {
  display: inline-block;
  margin: 0 1em 0 0;
}

.student-summary .quick-links a {
  color: #777;
}

.student-summary .quick-links a:hover {
  color: rgb(0, 0, 245);
}

/*****************************************************************************
 *
 * FORMAT CLASSES
 *
 *****************************************************************************/

.thesis-link {
  overflow-x: none;
  word-break: break-word;
}

.inline {
  /*line-height: 3em;*/
  list-style-type: none;
  margin: 0 0;
}

.inline li {
  display: inline-block;
  margin: 0 0.5em 0 0;
}

.username {
  color: #7a46bf;
  font-weight: bold;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.normal-size {
  font-size: 16px;
  font-size: 1rem;
}

.date,
.caption {
  color: #bbbbbb;
}

.caption {
  font-style: italic;
}

.section,
.section-list {
  margin: 0 0 1.5em 0;
}

/* BUTTONS */
button.small {
  padding-top: 0em;
  padding-bottom: 0em;
}


/*  */
.spaced-row {
  margin-bottom: 1.5em;
}

/* DETAILS: author, post date and category */
.details {
  color: #555;
  font-size: 0.875em; /* 14 / 16 */
  line-height: 1.714285714em; /* 24 / 14 */
  margin: 0;
}

.delete-link {
  color: #c63523;
}

/* DESCRIPTION: typically a P tag with enough spacing but not that much */
.description {
  color: #555;
  margin: 0.75em 0;
}

.details p {
  margin: 0;
}


.full-width {
  width: 100%;
}

.hr {
  border-bottom: 1px solid #aaa;
  width: 20em;
  margin: 0 auto;
  height: 0.125em;
}

button[disabled] {
  background: #efefef;
}

/*#middle { background-image: url('/images/grid.gif'); background-position-y: 0.75em;}*/