* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, p, blockquote, pre, a, code, em, img, ol, ul, li, fieldset, form, label, article, aside, canvas, footer, header, hgroup, nav, section, audio, video {
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: "Proxima Nova", "Helvetica", sans-serif;
  font-size: 18px;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lato';
  font-weight: 700;
  line-height: 1.4em;
  margin: 1em 0;
  padding: 0;
  vertical-align: baseline;
}

h1 {
  font-size: 20px;
  margin: 0 0 0.5em;
}

h2 {
  margin: 25px 0;
  text-transform: capitalize;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  padding: 25px 0 0 0;
}

h3 {
  font-size: 29.124px;
  margin: 0.5em 0;
}

h4 {
  font-size: 26.739px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, div figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative;
}

p {
  font-style: normal;
  font-weight: 400;
  font-family: 'source sans pro';
  line-height: 1.5em;
  margin: 1em 0 1.6em;
}

button {
  border: none;
  color: #fff;
  display: block;
  font: inherit;
  font-size: 1rem;
  letter-spacing: 0.08em;
  line-height: 1;
  outline: none;
  min-width: 125px;
  padding: 0.5em 1em 0.3em;
  position: relative;
  text-transform: uppercase;
}

blockquote {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 26px;
  line-height: 50px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-indent: 16px;
  font-family: Lato;
}

code {
  color: #555;
  font-family: 'source code pro';
  font-size: 70%;
}

pre {
  overflow-x: scroll;
}

/* STRUCTURE_________________________________________________________________*/
#top, #middle, #bottom {
}


#left-sidebar, #main-content, #right-sidebar {
  float: left;
}

#left-sidebar {
  margin-right: 30px;
  width: 140px;
}

#header, #middle {
  clear: both;
  max-width: 63.75em;
  margin: 0 auto;
  overflow: auto;
}

/* END STRUCTURE_____________________________________________________________*/

/* HEADER____________________________________________________________________*/

#header img {
  width: 150px;
}

#header img, #main-nav {
  float: left;
}

#header ul {
  list-style-type: none;
}

#header ul li {
  display: block;
  float: left;
  height: 2.65em;
  line-height: 1.5em;
  padding: 0.65em 0.25em 0.5em;
}

#main-nav ul {
  float: left;
  margin: 0 1em;
}

#account-nav {
  float: right;
  font-size: 90%;
}

#header a {
  color: black;
  text-decoration: none;
}

/* END HEADER________________________________________________________________*/

/* FORMATTING________________________________________________________________*/
.smaller {
  font-size: 16.526px;
}

.smallest {
  font-size: 11.125px;
}