<form id="login-form" action="/session/login" method="post">
  <h6>Please Log In To Continue</h6>
  <input type="text" name="user[netid]" placeholder="NetID" />
  <input type="password" name="user[password]" placeholder="Password" />
  <input type="submit" value="Log In" />
</form>