<form action="/session/login" method="post">
  <input type="text" name="user[netid]" placeholder="Please enter your netid" />
  <input type="password" name="user[password]" placeholder="And Password" />
  <input type="submit" value="Log In" />
</form>