<div class="button-labels" id="sorting">
<a data-tagName="animals" href="#">animals</a>
<a data-tagName="animation" href="#">animation</a>
<a data-tagName="architecture" href="#">architecture</a>
<a data-tagName="assistive tech" href="#">assistive tech</a>
<a data-tagName="data visualization" href="#">data visualization</a>
<a data-tagName="education/learning" href="#">education/learning</a>
<a data-tagName="entertainment" href="#">entertainment</a>
<a data-tagName="environment" href="#">environment</a>
<a data-tagName="exhibition design" href="#">exhibition design</a>
<a data-tagName="film/video/documentary" href="#">film/video/documentary</a>
<a data-tagName="game design" href="#">game design</a>
<a data-tagName="health/medicine/wellness" href="#">health/medicine/wellness</a>
<a data-tagName="installation" href="#">installation</a>
<a data-tagName="iPad" href="#">iPad</a>
<a data-tagName="Kinect" href="#">Kinect</a>
<a data-tagName="language processing" href="#">language processing</a>
<a data-tagName="living systems" href="#">living systems</a>
<a data-tagName="mobile" href="#">mobile</a>
<a data-tagName="musical interfaces" href="#">musical interfaces</a>
<a data-tagName="performance" href="#">performance</a>
<a data-tagName="physical computing" href="#">physical computing</a>
<a data-tagName="political" href="#">political</a>
<a data-tagName="product design" href="#">product design</a>
<a data-tagName="projection mapping" href="#">projection mapping</a>
<a data-tagName="research" href="#">research</a>
<a data-tagName="robotics" href="#">robotics</a>
<a data-tagName="screen-based art" href="#">screen-based art</a>
<a data-tagName="sculpture" href="#">sculpture</a>
<a data-tagName="site-specific" href="#">site-specific</a>
<a data-tagName="social/community" href="#">social/community</a>
<a data-tagName="social computing" href="#">social computing</a>
<a data-tagName="sound/audio" href="#">sound/audio</a>
<a data-tagName="storytelling/narrative" href="#">storytelling/narrative</a>
<a data-tagName="sustainibility" href="#">sustainibility</a>
<a data-tagName="urban intervention" href="#">urban intervention</a>
<a data-tagName="user interface" href="#">user interface</a>
<a data-tagName="video" href="#">video</a>
<a data-tagName="virtual worlds" href="#">virtual worlds</a>
<a data-tagName="wearables web" href="#">wearables web</a>
</div>