<div class="col-6">
<h1>You've encountered an error</h1>
<div class="post-content">
  <p>I'm dreadfully sorry about this.</p>

  <h3>This Sucks, <em>Tell Me About It</em></h3>
  <p>This error triggered an email reporting the issue. However, it would be great if you could write me an email (sk3453@nyu.edu) or file a <a href="https://github.com/stevenklise/itp-thesis-progress/issues">bug report</a> with a few sentences of what you were doing and maybe a screenshot of the previous page as well.</p>

  <p>If you don't tell me about the problem I won't know it's a problem. And I <em>really</em> want this site to work well for you.</p>

  <h3>Were you writing a post?</h3>
  <p>If you were writing a post, try clicking the back button, hopefully your content will still be there. Copy the content and save it on your computer temporarily. If you uploaded images, the urls inserted will still work.</p>
</div>
</div>