<ul id="progress-category">
  <li>Research</li>
  <li>Design</li>
  <li>Production</li>
  <li>Documentation</li>
</ul>

<input type="hidden" name="category"/>

<h3>
  <input type="text" name="post[title]" placeholder="Title of Post..."/>
</h3>

<div class="expanding-area">
  <pre><span></span><br></pre>
  <textarea placeholder="Write your post here..." name="post[content]"></textarea>
</div>

<button id="private" name="post[private]" value="true">Draft</button>
<button id="public" name="post[private]" value="false">Public</button>