<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <link rel="stylesheet" href="/css/thesis.css" type="text/css">
  <link rel="stylesheet" href="/css/post.css" type="text/css">
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/expandingtextarea.js" type="text/javascript"></script>
</head>
<body>
  <div id="top">
    <div id="header">
      <a href="/"><img src="/logo_maybe.png" alt="ITP THESIS" /></a>

      <div id="main-nav">
        <ul>
          <li><a href="/browse">Browse</a></li>
          <li><a href="/assignments">Assignments</a></li>
          <li><a href="/classes/schedule">Schedule</a></li>
          <li><a href="/assignments/requirements">Requirements</a></li>
        </ul>
      </div>

      <div id="account-nav">
      <% if env['warden'].authenticated? %>
        <ul>
          <li><a href="/thesis">Thesis</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/class">My Class</a></li>
          <li><a href="/profile"><%= env['warden'].user.netid %></a></li>
          <li><a href="/session/logout">Log Out</a></li>
        </ul>
      <% else %>
        <a href="/session/login">Log In</a>
      <% end %>
      </div>
    </div>
  </div>

  <div id="flash">
    <% [:error, :success].each do |name| %><% if flash.has?(name) %>
      <div class="message-<%= name %>">
        <%= flash[name] %>
      </div>
    <% end %><% end %>
</div>

  <div id="middle">
    <div id="left-sidebar">
      <ul>
        <li></li>
      </ul>
    </div>

    <div id="main-content">
    <%= yield %>
    </div>

    <div id="right-sidebar">

    </div>
  </div>

  <div id="bottom">
    <div id="footer">
      Please report any bugs to Steve Klise: sk3453@nyu.edu
    </div>
  </div>
</body>
</html>