<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="/css/post.css" type="text/css">
  <link rel="stylesheet" href="/css/grid.css" type="text/css">
  <link rel="stylesheet" href="/css/print.css" type="text/css">
  <link rel="stylesheet" href="/css/chosen.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Lato:400,700|Source+Code+Pro' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/chosen.jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
  <script src="/javascripts/underscore.js" type="text/javascript"></script>
  <script src="/javascripts/expandingtextarea.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
</head>
<body>
  <div id="top">
    <div id="header">
      <a href="/"><img src="/images/logo_maybe.png" alt="ITP THESIS" /></a>

      <div id="main-nav">
        <ul>
          <li><a href="/browse">Browse</a></li>
          <li><a href="/assignments">Assignments</a></li>
          <li><a href="/classes/schedule">Schedule</a></li>
          <li><a href="/assignments/requirements">Requirements</a></li>
        </ul>
      </div>

      <div id="account-nav">
      <% if false #env['warden'].authenticated? %>
        <ul>
          <li><a href="/thesis">Thesis</a></li>
          <li><a href="/progress">Progress</a></li>
          <li><a href="/class">My Class</a></li>
          <li><a href="/profile"><%= env['warden'].user.netid %></a></li>
          <li><a href="/session/logout">Log Out</a></li>
        </ul>
      <% else %>
        <a href="/session/login">Log In</a>
      <% end %>
      </div>
    </div>
  </div>

  <div id="flash">
    <% [:error, :success].each do |name| %><% if flash.has?(name) %>
      <div class="message-<%= name %>">
        <%= flash[name] %>
      </div>
    <% end %><% end %>
  </div>

  <div id="middle">
    <div id="main-content" class="col-page">
    <%= yield %>
    </div>

  </div>

  <div id="bottom">
    <div id="footer">
      Please report any bugs to Steve Klise: sk3453@nyu.edu
    </div>
  </div>
</body>
</html>