<div id="markdown-wrapper">
<div id="markdown-guide">
<div class="markdown-mark">&nbsp;</div><p>This site uses <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> to format posts. You'll see the Markdown logo above or to the side of any input that supports Markdown.
</p>

<table>
  <tbody>
    <thead>
      <td>What you Type</td>
      <td>Result</td>
    </thead>

    <tr>
      <td>**Bolded text here**</td>
      <td><strong>Bolded text here</strong></td>
    </tr>

    <tr>
      <td>*italics*</td>
      <td><em>italics</em></td>
    </tr>

    <tr>
      <td>[link text](http://itp.nyu.edu)</td>
      <td><a href="http://itp.nyu.edu">link text</a></td>
    </tr>

    <tr>
      <td>![alt text](image_url)</td>
      <td></td>
    </tr>

    <tr>
      <td>* list item<br>* list item</td>
      <td><ul><li>list item</li><li>list item</li></ul></td>
    </tr>

    <tr>
      <td>1 list item 1<br>2 list item 2</td>
      <td><ol><li>list item 1</li><li>list item 2</li></ol></td>
    </tr>

    <tr>
      <td>some inline code `int x = rand(5)`</td>
      <td>some inline code <code>int x = rand(5)</code></td>
    </tr>

    <tr>
      <td># Header Level 1</td>
      <td><h1>Header Level 1</h1></td>
    </tr>

    <tr>
      <td>###### Header Level 6 is the max</td>
      <td><h6>Header Level 6 is the max</h6></td>
    </tr>

  </tbody>
</table>
</div>
</div>