<div class="announcement-excerpt">
  <div class="author"><%= announcement.user %></div>
  <div class="date"><%= shortdate announcement.published_at %></div>
  <h3 class="title"><a href="<%= announcement.url %>"><%= announcement.title %></a></h3>
</div>