<div class="col-12">
  <h2>Thesis Summary Lock</h2>
  <form action="/admin" method="POST">
    <p>
      <input type="checkbox" value="true" name="thesis_lock" <%= "checked" if @site_config.thesis_lock %>/>
      Check this box prevent students from editing their thesis summaries.
    </p>
    <input type="submit" value="Update" />
  </form>

  <h2>Tags</h2>
  <ul id="tags" class="admin-tag-list" data-tags="<%= @tags %>"></ul>

  <script src="/javascripts/tags.js" type="text/javascript"></script>
</div>