<div class="col-12">
  <h1 class="page-title">Sections</h1>
</div>

<% @sections.each do |section| %>
  <div class="col-3">
    <h3>
      <a href="<%= section.path %>"><%= section.name %></a>
    </h3>
    <ul>
      <% section.students.each do |student| %>
      <li><%= student %></li>
      <% end %>
    </ul>
  </div>
<% end %>