<div class="col-12">
<h1><%= @page.title %></h1>

<% if @current_user.non_student? %>
<a href="/<%= @page.slug %>/edit">Edit</a>
<% end %>


<div class="page-content">
  <%= mdown @page.content %>
</div>

</div>