<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css">
  <link rel="stylesheet" href="/css/thesis.css" type="text/css">
</head>
<body>
  <div id="top">
    <div id="header">
      <h1>Thesis Progress</h1>
    </div>
  </div>

  <div id="middle">
    <div id="main-content">
    <%= yield %>
    </div>
  </div>

  <div id="bottom">
    <div id="footer">

    </div>
  </div>
</body>
</html>