<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css">
  <link rel="stylesheet" href="/css/thesis.css" type="text/css">
</head>
<body>
  <%= yield %>
</body>
</html>