<div id="post-form" class="bb-form" data-post='<%= h @post.to_json %>' data-categories='<%= h @categories.to_json %>'>
  <img src="/images/ajax-loader.gif">
</div>

<script type="text/template" id="categories-choice-template">
<h6>Category</h6>
<div class="categories-place"></div>
{{#if category_id}}
<p><a href="#" class="remove">remove category</a></p>
{{/if}}
</script>

<script type="text/template" id="category-template">
  {{name}}
</script>

<script type="text/template" id="post-form-template">
  <div class="col-12">
  <h1 class="page-title">
  {{#if id }}
    Edit Post
  {{else}}
    New Post
  {{/if}}
  </h1>
  </div>

<div class='col-9 the-form'>
  <h3>
    <input type="text" class="post-title" name="post[title]" placeholder="Title of Post..." value="{{ title }}"/>
  </h3>

  <div class="categories-choice section">
  </div>

  <div class="section">
    <h6>Content <span class="markdown-mark">&nbsp;</span></h6>
    <div class="expanding-area" style="background:#eee;">
      <pre><span></span><br></pre>
      <textarea id="post-content-form" placeholder="Write your post here..." name="post[content]" style="border-color: #eee;border-bottom: none;">{{content}}</textarea>
    </div>
    <div class="info">
      <h6>Formatting</h6>
      <p>Posts are formatted using Markdown. Click the icon to the right of "Content" up above to view a Markdown cheatsheet.</p>

      <h6>Adding Images</h6>
      <p>To add an image, drag and drop the image inside the textbox. To embed videos, paste the embed code from whatever site you uploaded your video to.</p>
    </div>
  </div>

  <div class="section">
    <h6>Access To This Post</h6>
    <p class="info">By default posts require logging in to view. Click "World" below to be able to share the url to this post. Posts will never show up in search results.</p>
    <div data-privacy="false" class="button privacy {{#unless is_public}}selected{{/unless}}">NYU</div>
    <div data-privacy="true" class="button privacy {{#if is_public}}selected{{/if}}">WORLD</div>
  </div>

  <div id="post-submit" class="section action-buttons">
    <h6>Publish</h6>

    <div class="button publish-button make-draft">Draft</div>
    <div class="button publish-button make-publish">Publish</div>

    {{#if updated_at}}
    <div class="info publish-status"><p><strong>{{#if draft }}DRAFT{{else}}PUBLISHED{{/if}}</strong> Last saved to server: {{time updated_at}}<p>
    <p><a href="{{posturl this}}" target="_blank">View Post</a></p>
    </div>
    {{/if}}
  </div>
  <div class="cover"></div>
</div>
</script>

<script src="/assets/post-form.js"></script>